@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body, html {
	font-family: Quicksand;
	margin:0px;
	width:100%;
	background-color:#f0f4f9;
}
.container {
	background-color:white;
	border: 3px solid #1c84c9;
	margin:10px;
	padding:10px;
	width:90%;
	text-align:left;
}
.main {
	width:100%;
	margin:0px;
}
#main {
	position:absolute;
	top: 65px;
	left: 16em;
	width:80%;
}
@media only screen and (max-width: 1200px) {
	#main {
			position:absolute;
			top: 65px;
			left: 16em;
			width:70%;
	}
}
@media only screen and (max-width: 900px) {
	#main {
			position:absolute;
			top: 65px;
			left: 16em;
			width:60%;
	}
}

.modpack {
	overflow:auto;
	transition: 0.5s;
	cursor: pointer;
}
.modpack:hover {
	transition: 0.5s;
	background-color:#666666;
}
.right {
	float: right;
	position:absolute;
	top:17px;
	right:15px;
}
.head {
	width:100%;
	position:fixed;
	background-color:white;
	padding:10px;
	overflow:auto;
	height:40px;
	z-index:2;
}
.side {
	position:fixed;
	width:15em;
	background-color:#555555;
	color:white;
	height: calc(100% - 60px);
	margin-top:60px;
	overflow-y:scroll;
}
button, .button, input[type="submit"] {
	border: 3px solid #1c84c9;
	background-color: #1c84c9;
	color:white;
	transition: 0.5s;
	text-align:center;
	cursor:pointer
}
button.animate:hover, .button.animate:hover, input[type="submit"].animate:hover {
	border: 3px solid #1c84c9;
	background-color: white;
	color:#1c84c9;
	transition: 0.5s;

}
button.red, .button.red {
	border: 3px solid #f00017;
	background-color: #f00017;
	color:white;
	transition: 0.5s;
	text-align:center;
	cursor:pointer
}
button.animate.red, .button.animate.red {
	border: 3px solid #f00017;
	background-color: #f00017;
	color:white;
	transition: 0.5s;
	text-align:center;
	cursor:pointer
}
button.animate.red:hover, .button.animate.red:hover{
	border: 3px solid #f00017;
	background-color: white;
	color:#f00017;
	transition: 0.5s;

}
@media only screen and (min-width: 1000px) {
	.login {
		width: 30%;
		margin: auto auto;
	}
}
@media only screen and (max-width: 1000px) {
	.login {
		width: 50%;
		margin: auto auto;
	}
}
@media only screen and (max-width: 600px) {
	.login {
		width: 80%;
		margin: auto auto;
	}
}
input[type="text"],input[type="email"],input[type="password"],input[type="number"],select {
	margin: 10px;
	padding: 10px;
	border: 3px solid #1c84c9;
	font-size: 1.5em;
	font-family: Quicksand;
	text-align:center;
}
textarea {
	margin: 10px;
	padding: 10px;
	border: 3px solid #1c84c9;
	font-family: Quicksand;
	text-align:left;
}
.popup{
    background-color: #ffffff;
	padding: 30px;
    position: absolute;
    top:15em;
    bottom: 0;
    left: 0;
    right: 0;
	border: 3px solid #1c84c9;
    margin: auto;
}
.newmod {
	position:fixed;
	top: 3em;
	width:80%;
	height:80%;
	z-index:5;
	overflow-y:scroll;
}
.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
	padding: 10px;
	font-size:1.5em;
	width:80%;
	margin: auto;
	margin-top: 1em;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
	padding: 10px;
	font-size:1.5em;
	width:80%;
	margin: auto;
	margin-top: 1em;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
	padding: 10px;
	font-size:1.5em;
	width:80%;
	margin: auto;
	margin-top: 1em;
}

.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
	padding: 10px;
	font-size:1.5em;
	width:80%;
	margin: auto;
	margin-top: 1em;
}